<a href="https://colab.research.google.com/github/adindapurwita/Pejuang_Data_3/blob/main/M1P2V2_Variabel_dan_Tipe_Data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Variabel & Tipe Data**

# Variabel

Variabel: Lokasi penyimpanan yang dapat digunakan untuk menampung seluruh data atau informasi.
Syarat-syarat penamaan variabel

1.   Karakter-karakter yang digunakan untuk penamaan variabel adalah alphabet, angka, dan underscore.
2.   Karakter pertama variabel harus berupa huruf atau garis bawah/underscore, dan tidak bisa berupa angka.
3. Nama sebuah variabel tidak bisa menggunakan keyword atau reserved word dari bahasa python seperti for, if dan lainnya.
4. Karakter pada nama variabel bersifat sensitif (case-sensitif).

In [ ]:
# membuat variabel
kalimat = 'ini adalah variabel'
bilangan1 = 4
bilangan2 = 2.5
bilangan3 = True
bilangan4 = 1j + 4

In [ ]:
# menampilkan variabel
print(kalimat)
print(bilangan1)
print(bilangan2)

ini adalah variabel
4
2.5

Latihan 1

In [ ]:
# buatlah 5 variabel kalian sendiri dengan 5 macam tipe data
# lalu tampilkan variabel menggunakan fungsi print

In [ ]:
angka1 = 7
angka2 = 3.5
kalimat1 = 'mari selesein tugasnya'
angka3 = True
angka4 = 2j + 5

In [ ]:
print(angka1)
print(angka2)
print(kalimat1)
print(angka3)
print(angka4)

7
3.5
mari selesein tugasnya
True
(5+2j)

# Tipe Data

5 tipe data yaitu

1. Integer atau bilangan bulat
2. Float atau bilangan desimal
3. String atau kalimat
4. Boolean yang terdiri dari True dan False
5. Complex yang merupakan bilangan kompleks

In [ ]:
# menampilkan tipe data
print(type(kalimat))
print(type(bilangan1))
print(type(bilangan3))
print(type(bilangan4))

<class 'str'>
<class 'int'>
<class 'bool'>
<class 'complex'>

Latihan 2

In [ ]:
# cet tipe data variabel yang telah kalian buat pada latihan 1

In [ ]:
print(type(angka1))
print(type(angka2))
print(type(kalimat1))
print(type(angka3))
print(type(angka4))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'bool'>
<class 'complex'>

# Konversi Tipe Data

Syntax Konversi tipe data

1. Integer = int()
2. Float = float()
3. String = str()
4. Boolen = bool()
5. Complex = Complex()

In [ ]:
# konversi tipe data integer
print(int(bilangan2))
print(int(bilangan3))

2
0

In [ ]:
# konversi tipe data float
print(float(bilangan1))
print(float(bilangan3))

In [ ]:
# konversi tipe data string
print(str(bilangan1))
print(str(bilangan2))
print(str(bilangan3))

4
2.5
False

In [ ]:
#konversi tipe data bool
print(bool(bilangan1))
print(bool(bilangan2))

False
True

In [ ]:
# konversi tipe data complex
print(complex(bilangan1))
print(complex(bilangan2))
print(complex(bilangan3))

(4+0j)
(2.5+0j)
(1+0j)

Latihan 3

In [ ]:
# konversi tipe data variabel yang telah kalian buat
# menjadi berbagai macam tipe data

In [ ]:
# konversi tipe data integer
print(int(angka1))
print(int(angka2))
print(int(angka3))

7
3
1

In [ ]:
# konversi tipe data float
print(float(angka1))
print(float(angka2))

7.0
3.5

In [ ]:
# konversi tipe data string
print(str(angka1))
print(str(angka2))
print(str(kalimat1))
print(str(angka3))
print(str(angka4))

7
3.5
mari selesein tugasnya
True
(5+2j)

In [ ]:
# konversi tipe data bool
print(bool(angka1))
print(bool(angka2))

True
True

In [ ]:
# konversi tipe data complex
print(complex(angka1))
print(complex(angka2))
print(complex(angka4))
print(complex(angka3))

(7+0j)
(3.5+0j)
(5+2j)
(1+0j)