<a href="https://colab.research.google.com/github/adindapurwita/Pejuang_Data_3/blob/main/M2P1V3_Srtuktur_Data_Tuple.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Stuktur Data Tuple

Tuple adalah jenis struktur data yang tidak dapat diubah elemennya. Umumnya tuple digunakan untuk data yang bersifat sekali tulis, dan dapat dieksekusi lebih cepat. Tuple didefinisikan dengan kurung dan elemen yang dipisahkan dengan koma.

In [ ]:
#Contoh Tuple
T1 = (1, "dua", True, 1+2j)
print("ini adalah tuple", T1)

ini adalah tuple (1, 'dua', True, (1+2j))

In [ ]:
#Menampilkan tip struktur data
type(T1)

tuple

**Latihan**

In [ ]:
#Buatlah tuplemu sendiri

In [ ]:
Namahari1 = ('Senin', 'Selasa', 'Rabu', 'Kamis')

**Sifat-sifat Tuple**

In [ ]:
#Terurut/Ordered
T1[0:3]

(1, 'dua', True)

In [ ]:
#Tidak bisa diganti/Immutable
T1[2]="manusia"

TypeError: ignored

In [ ]:
#Dapat Diindekskan/Slicing
print("elemen kedua dari tuple T1 adalah", T1[1])

elemen kedua dari tuple T1 adalah dua

In [ ]:
#Dapat Diijinkan Duplikasi
T2 = (3, 2.4, True, 2.4)
T2

(3, 2.4, True, 2.4)

**Menggabungkan tuple**

In [ ]:
#Menggabungkan Tuple
T3 = (T1 + T2)
T3

(1, 'dua', True, (1+2j), 3, 2.4, True, 2.4)

**Latihan 2**

In [ ]:
#Buatlah tuple kedua lalu gabungkan 2 tuple yang telah kamu buat

In [ ]:
Namahari2 = ('Jumat', 'Sabtu', 'Minggu')

In [ ]:
Namahari = (Namahari1 + Namahari2)
print(Namahari)

('Senin', 'Selasa', 'Rabu', 'Kamis', 'Jumat', 'Sabtu', 'Minggu')