<a href="https://colab.research.google.com/github/adindapurwita/Pejuang_Data_3/blob/main/M2P2V3_Konversi_Struktur_Data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>


# Konversi Struktur Data

Fungsi untuk mengubah/konversi struktur data:

a. `list()` : untuk mengubah menjadi list

b. `tuple()` : untuk mengubah menjadi tuple

c. `set()` : untuk mengubah menjadi set

d. `dict()` : untuk mengubah menjadi dictionary

# Mengkonversikan tipe data list:

In [ ]:
# membuat 2 list
L1 = [1, 2, 3, 4]
L2 = [5, 6, 7, 8]

In [ ]:
# Mengkonversi struktur data list
k_tuple = tuple(L1)
k_set = set(L2)
k_dict = dict(zip(L1, L2))
# Melihat data yang telah dikonversi
print(k_tuple)
print(k_set)
print(k_dict)

(1, 2, 3, 4)
{8, 5, 6, 7}
{1: 5, 2: 6, 3: 7, 4: 8}

# Mengkonversi tipe data tuple:

In [ ]:
# Membuat dua tuple
T1 = (1, 2, 3, 4)
T2 = (5, 6, 7, 8)

In [ ]:
# Mengkonversi struktur data tuple
k_list = list(T1)
k_set = set(T2)
k_dict = dict(zip(T1, T2))
# Melihat data yang telah dikonversi
print(k_list)
print(k_set)
print(k_dict)

[1, 2, 3, 4]
{8, 5, 6, 7}
{1: 5, 2: 6, 3: 7, 4: 8}

# Mengkonversi tipe data set:

In [ ]:
# Membuat dua set
S1 = {1, 2, 3, 4}
S2 = {5, 6, 7, 8}

In [ ]:
# Mengkonversi struktur data set
k_list = list(S1)
k_tuple = tuple(S2)
k_dict = dict(zip(S1, S2))
# Melihat data yang telah dikonversi
print(k_list)
print(k_tuple)
print(k_dict)

[1, 2, 3, 4]
(8, 5, 6, 7)
{1: 8, 2: 5, 3: 6, 4: 7}

# Mengkonversi tipe data list:

In [ ]:
# Membuat dictionary
D = { "nama": "Andi",
     "alamat": "Yogyakarta",
     "umur": 20
     }

In [ ]:
# Mengkonversi struktur data dictionary dari key dan value-nya
k_list = list(D.keys())
k_tuple = tuple(D.values())
k_set = set(D.keys())
# Melihat data yang telah dikonversi
print(k_list)
print(k_tuple)
print(k_set)

['nama', 'alamat', 'umur']
('Andi', 'Yogyakarta', 20)
{'alamat', 'nama', 'umur'}

# Latihan

In [ ]:
# Lakukan konversi struktur data yang kalian buat pada notebook-notebook
# sebelumnya menjadi list, tuple, set, dan dictionary (masing-masing satu)

Konversi type data list

In [ ]:
L3 = [7, 14, 21, 28]
L4 = [6, 12, 18, 24]

In [ ]:
# Mengkonversi type data list
k_tuple = tuple(L3)
k_set = set(L3)
k_dict = dict(zip(L3, L4))
# Melihat data yang telah dikonversi
print(k_tuple)
print(k_set)
print(k_dict)

(7, 14, 21, 28)
{28, 21, 14, 7}
{7: 6, 14: 12, 21: 18, 28: 24}

Mengkonversi tipe data tuple:

In [ ]:
Namahari1 = ('Senin', 'Selasa', 'Rabu', 'Kamis')
Namahari2 = ('Jumat', 'Sabtu', 'Minggu')

In [ ]:
# Mengkonversi type data tuple
k_tuple = tuple(Namahari1)
k_set = set(Namahari2)
k_dict = dict(zip(Namahari1, Namahari2))
# Melihat data yang telah dikonversi
print(k_tuple)
print(k_set)
print(k_dict)

('Senin', 'Selasa', 'Rabu', 'Kamis')
{'Minggu', 'Jumat', 'Sabtu'}
{'Senin': 'Jumat', 'Selasa': 'Sabtu', 'Rabu': 'Minggu'}

Mengkonversi tipe data set

In [ ]:
S3 = {7, 'tujuh', False, 10-3j}
S4 = {1, 2, 3, 4}

In [ ]:
# Mengkonversi type data set
k_tuple = tuple(S3)
k_set = set(S4)
k_dict = dict(zip(S3, S4))
# Melihat data yang telah dikonversi
print(k_tuple)
print(k_set)
print(k_dict)

(False, 'tujuh', (10-3j), 7)
{1, 2, 3, 4}
{False: 1, 'tujuh': 2, (10-3j): 3, 7: 4}

Mengkonversi tipe data dictionary

In [ ]:
D1 = {
    "hari libur" : "Minggu",
    "hari kerja" : "Senin",
    }

In [ ]:
# Mengkonversi type data dictionary
k_list = list(D1.keys())
k_tuple = tuple(D1.values())
k_set = set(D1.keys())
# Melihat data yang telah dikonversi
print(k_list)
print(k_tuple)
print(k_set)

['hari libur', 'hari kerja']
('Minggu', 'Senin')
{'hari libur', 'hari kerja'}